body {
  margin: 0;
  padding: 0;
  background-color: #2a0142;
  font-family: 'Arial', sans-serif;
  overflow: hidden;
}

.not-found {
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.heart-icon {
  width: 340px;
  margin-bottom: 10px;
}

.code {
  margin-top: -230px;
  font-size: 112px;
  font-weight: 1000;
  margin-bottom: 100px;
}
.message {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}

.home-button {
  display: inline-block;
  padding: 10px 20px;
  background: #ff497c;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.home-button:hover {
  background: #e13e6a;
}

.decorations {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.decor {
  position: absolute;
  width: 24px;
  opacity: 0.4;
}

.star1 { top: 10%; left: 5%; width: 32px; }
.star2 { top: 25%; right: 10%; width: 32px; }

.emoji {
  animation: float 6s ease-in-out infinite alternate;
}

@keyframes float {
  from {
    transform: translateY(0px) rotate(0deg);
  }
  to {
    transform: translateY(-10px) rotate(10deg);
  }
}
